version: '3.9'

services:

  mqtt2strapi:
    image: alpeza/habmaps_mqtt2strapi:latest
    container_name: habmaps_mqtt2strapi
    environment:
      CONFIG_FILE: /app/config/mqtt2strapi.example.yaml
    volumes:
      - ./config:/app/config
    networks:
      - core_npm_hcinet

  mosquitto:
    image: eclipse-mosquitto:latest
    hostname: mosquitto
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "8081:9001"
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./config/mosquitto.passwd:/mosquitto/config/mosquitto.passwd
    networks:
      - core_npm_hcinet

networks:
  core_npm_hcinet:
    external: true
